/* This is a comment */
@charset "UTF-8";

:root {
  --red: coral;
  --alert-theme: var(--red);
}

.alert {
  display: block;
}

.button {
  display: inline-block;
  color: white;
}

.text-center {
  text-align: center;
}

@supports (--var: 0){

  .alert{
    background-color: var(--alert-theme);
  }

  .button{
    background-color: var(--red);
  }
}

@supports not (--var: 0){

  .alert{
    background-color: coral;
  }

  .button{
    background-color: coral;
  }
}