:root {
  --red: coral;
  --alert-theme: var(--red);
}
.alert {
  display: block;
  background-color: var(--alert-theme);
}

.button {
  display: inline-block;
  color: white;
  background-color: var(--red);
}

.text-center {
  text-align: center;
}